/* --------------------- */
/* Components */
/* --------------------- */

#button-contact {
  background-color: var(--clr-primary-yellow);
  max-width: fit-content;
  padding: 0.7rem 2rem;
  border-radius: 25px;
}

header > img:nth-child(2) {
  max-height: 1.2rem;
}

.mobile-menu {
  display: none;
  position: fixed;
  top: 6rem;
  left: 0;
  right: 0;
  z-index: 2;
  --gap: 2rem;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-block: 3rem;
  max-width: 22rem;
  margin-inline: auto;
  background-color: rgba(255, 255, 255, 1);
}

.mobile-menu:after {
  content: "";
  top: -20px;
  right: 0px;
  position: absolute;
  border: 0px solid;
  display: block;
  background-color: transparent;
  border-top: 30px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 35px solid white;
}

.hero > h1 {
  max-width: 10ch;
  color: white;
}

.hero > img {
  position: absolute;
  top: 18rem;
}

.container-text > p:nth-child(1) {
  max-width: 15ch;
}
.container-text > p:nth-child(2),
.container-text-image > p:nth-child(2) {
  max-width: 35ch;
}

.container-text > p:nth-child(3) {
  border-bottom: 5px solid var(--clr-primary-yellow);
}

#learn-pink {
  border-bottom: 5px solid var(--clr-primary-red);
}

.avatar {
  border-radius: 50%;
  height: 4rem;
}

.testimonial > p:last-child {
  margin-top: -1.5rem;
}

footer > img {
  height: 2rem;
}

/* --------------------- */
/* Background Images */
/* --------------------- */

.hero {
  background-image: url("../images/mobile/image-header.jpg");
}

#photography {
  background-image: url("../images/mobile/image-photography.jpg");
}

#graphic-design {
  background-image: url("../images/mobile/image-graphic-design.jpg");
}

@media (min-width: 1440px) {
  .hero {
    background-image: url("../images/desktop/image-header.jpg");
  }

  #photography {
    background-image: url("../images/desktop/image-photography.jpg");
  }

  #graphic-design {
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }
}

/* --------------------- */
/* Layout */
/* --------------------- */

.container-main {
  padding-inline: 1rem;
  padding-bottom: 4rem;
}

main {
  --gap: 0;
  padding: 0;
  flex-direction: column;
  justify-content: space-between;
}

header {
  background-color: #3ebeff;
  padding-top: 2rem;
  padding-inline: 2rem;
  justify-content: space-between;
}

.hero {
  background-color: #3ebeff;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding-top: 5rem;
  background-position: center -4.9rem;
  background-size: cover;
  background-repeat: no-repeat;
  height: 32rem;
}

.content {
  flex-direction: column;
}

.container-text {
  --gap: 2rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 4rem;
}

.container-text-image {
  --gap: 1.5rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 4rem;
  height: 40rem;
  justify-content: flex-end;
  background-size: cover;
  background-repeat: no-repeat;
}

.container-testimonials {
  --gap: 4rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-block: 3rem;
}

.testimonial {
  --gap: 2rem;
  flex-direction: column;
  align-items: center;
}

.gallery {
  flex-wrap: wrap;
  margin-top: 3rem;
}

.gallery * {
  max-width: 50%;
}

footer {
  --gap: 2rem;
  flex-direction: column;
  background-color: #91d3c5;
  align-items: center;
  padding-block: 4rem;
}

.footer-links {
  color: var(--clr-primary-cyan-200);
}

.socials {
  margin-top: 3rem;
}

.desktop-menu {
  --gap: 4rem;
  align-items: center;
  color: white;
  display: none;
}

@media (min-width: 1440px) {
  .desktop-menu {
    display: flex;
  }

  #hamburger {
    display: none;
  }

  #button-contact {
    background-color: white;
    color: black;
  }

  header > img:nth-child(1) {
    height: 2rem;
  }

  .hero > h1 {
    max-width: 30ch;
    letter-spacing: 10px;
  }

  .hero > img {
    top: 20rem;
  }

  .container-text > p:nth-child(1) {
    max-width: 15ch;
  }
  .container-text > p:nth-child(2),
  .container-text-image > p:nth-child(2) {
    max-width: 40ch;
  }

  .container-text > p:nth-child(3) {
    border-bottom: 5px solid var(--clr-primary-yellow);
  }

  #learn-pink {
    border-bottom: 5px solid var(--clr-primary-red);
  }

  .avatar {
    border-radius: 50%;
    height: 4rem;
  }

  .testimonial > p:last-child {
    margin-top: -1.5rem;
  }

  footer > img {
    height: 2rem;
  }

  .container-main {
    padding-inline: 1rem;
    padding-bottom: 4rem;
  }

  main {
    --gap: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
  }

  header {
    padding-inline: 5rem;
  }

  .hero {
    background-position: center;
    background-size: 60%;
    height: 60vh;
  }

  .content {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .content * {
    flex: 1 1 50%;
  }

  /* .content > picture:nth-child(1) {
    outline: 1px solid red;
    float: right;
  } */

  .container-text {
    --gap: 2rem;
    justify-content: space-around;
    align-items: flex-start;
    text-align: left;
    padding-block: 8rem;
    padding-inline: 15rem;
  }

  .container-text-image {
    --gap: 1.5rem;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding-block: 4rem;
    height: 40rem;
    background-size: cover;
  }

  .container-testimonials {
    --gap: 4rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-block: 3rem;
  }

  .testimonial {
    --gap: 2rem;
    flex-direction: column;
    align-items: center;
  }

  .gallery {
    flex-wrap: wrap;
    margin-top: 3rem;
  }

  .gallery * {
    max-width: 50%;
  }

  footer {
    --gap: 2rem;
    flex-direction: column;
    background-color: #91d3c5;
    align-items: center;
    padding-block: 4rem;
  }

  .footer-links {
    color: var(--clr-primary-cyan-200);
  }

  .socials {
    margin-top: 3rem;
  }
}
